<launch>

    <!-- Arguments -->
    <arg name="url" default="ws://localhost:8080/ws"/>
    <arg name="realm" default="realm1"/>
    <arg name="robot_id" default="testbot"/>
    <arg name="init_config" default="$(find rosconnect)/config/init_config.json"/>

    <arg name="topics_glob" default="[*]" />
    <arg name="services_glob" default="[*]" />
    <arg name="params_glob" default="[*]" />


    <node name="rosapi" pkg="rosapi" type="rosapi_node">
        <param name="topics_glob" value="$(arg topics_glob)"/>
        <param name="services_glob" value="$(arg services_glob)"/>
        <param name="params_glob" value="$(arg params_glob)"/>
    </node>

    <node name="serverside" pkg="rosconnect" type="serverside.py" output="screen">
    </node>
 
    <param name="webclient/server/init_config" command="cat $(arg init_config)" />
    <param name="webclient/robot_id" value="$(arg robot_id)" />
    <param name="webclient/url" value="$(arg url)" />
    <param name="webclient/realm" value="$(arg realm)" />
    <param name="webclient/client/data_domain" value="client.data.$(arg robot_id)" />
    <param name="webclient/client/service_domain" value="client.service.$(arg robot_id)" />
    <param name="webclient/server/data_domain" value="server.data.$(arg robot_id)" />
    <param name="webclient/server/service_domain" value="server.service.$(arg robot_id)" />


</launch>